:root {
  /*color*/
  --color--white: #ffffff;
  --color--black: #3f454d;
  --color--gray: #a2abb6;
  --color--blue: #00a7ff;
  /*size*/
  --size--slides: 800px;
  --size-base: 50px;
  --font-size: 12px;
  --btn-size: 140px;
  /*annimation*/
  --animation-duration: 0.5s;
}
/* 1 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  position: relative;
  cursor: pointer;
  padding: var(--size-base);
  width: calc(var(--size-base) * 5);
  height: calc(var(--size-base) * 3);
}
/* /1 */

/* 2 */
.slidershow {
  position: relative;
  width: 100%;
}

.slide {
  height: var(--size--slides);
  display: none;
  overflow: hidden;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  font-size: 35px;
  padding: 15px;
  cursor: pointer;
  color: var(--color--white);
  transition: 0.1s;
  user-select: none;
}

.prev:hover,
.next:hover {
  color: var(--color--blue);
}
.next {
  right: 0;
}

.dotsbox {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 10px;
  cursor: pointer;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid var(--color--white);
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.active,
.dot:hover {
  border-color: var(--color--blue);
}
/* /2 */

/* 3 */
.buttons {
  display: flex;
  align-items: center;
}
.btnall,
.btn {
  width: var(--btn-size);
  height: 50px;
  background-color: var(--color--white);
  font-size: var(--font-size);
  font-weight: 500;
  letter-spacing: 0.3px;
  border-width: 1px;
  margin: 50px 10px 20px 10px;
  top: 50px;
  cursor: pointer;
}

.btn:hover,
.btnall:hover {
  background-color: var(--color--gray);
  color: var(--color--white);
}
/* /3 */

/* 4 */
.items {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  list-style: none;
}

.item__thumbnail {
  width: 240px;
  height: 330px;
}

.item__description {
  display: block;
  font-size: var(--font-size);
}

.item__description .name {
  font-weight: 700;
  padding: 2px;
}

.item__description .detail {
  color: var(--color--gray);
  font-weight: 300;
  padding: 2px;
}

.item__description .price {
  font-weight: 700;
  padding: 2px;
}

.item__description .date {
  text-indent: -9999px;
}

.items .item .item__description i {
  margin-right: 5px;
  padding: 2px;
}

/*  /4 */

/*  5 */
@media screen and (max-width: 768px) {
  .slide {
    height: 400px;
  }
  .prev,
  .next {
    position: absolute;
    top: 45%;
    transform: translate3d(0, -35%, 0);
  }
  .dot {
    display: none;
  }
  .btn,
  .btnall {
    width: 80px;
    height: 45px;
  }
  .items {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    overflow-x: none;
  }
  .item__thumbnail {
    width: 220px;
    height: 300px;
  }
}
/*  /5 */

/* 6 */
@media screen and (max-width: 510px) {
  .slide {
    height: 300px;
  }
  .btn,
  .btnall {
    width: 58px;
    height: 40px;
    font-size: 10px;
  }
  .prev,
  .next {
    font-size: 20px;
  }
  .items {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    overflow-x: none;
  }
  .item__thumbnail {
    width: 220px;
    height: 300px;
  }
}
/* /6 */

/* 7 */
@media screen and (max-width: 360px) {
  .slide {
    height: 300px;
  }
  .btn,
  .btnall {
    width: 50px;
    height: 40px;
    font-size: 9px;
  }
  .prev,
  .next {
    font-size: 20px;
  }
  .items {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    overflow-x: none;
  }
  .item__thumbnail {
    width: 220px;
    height: 300px;
  }
}
/*  /7 */
